.comment-format{
  font-style: italic;
}

footer{
  position:absolute;
  width:100%;
  bottom:0px;
    }

h1 {
  font-family: Ubuntu ;
  margin-bottom: 0.1em;
  font-size: 2em;
}

h2 {
  font-family: Abel ;
  font-size: 1.5em;
}

.blog-image{
  width:10%;
}

li {
  list-style: none;
}