
p {
  line-height: 150%;
}

.comment-format{
  font-style: italic;
}
blockquote {
  font-style: bold;
  font-family: Abel ;
  font-size: 1.5em;

}
footer{
  position: relative;
  width: 100%;
  bottom: 0px;
    }

h1 {
  font-family: Ubuntu ;
  margin-bottom: 0.1em;
  font-size: 2em;
}

h2 {
  font-family: Abel ;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

h4 {
  font-family: Abel ;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 1.25em;
  font-weight: bolder;
}

.blog-image{
  width:25%;
}

li {
  list-style: none;
  margin: 2em;
}

.line-break {
  border-top: 1px solid #77C4D3;
  margin-right: 5%;
  margin-left:5%;
  margin-top: 2%;
}

.screenshots{
  display: block;
  border: 1px solid;
  margin: 0px auto;
  position: relative;
  width: 50%;
  text-align: center;
}
.screenshots figcaption{
text-align: center;
font-size: 1em;
font-weight: bold;
margin-top:2%;
}

.add-margin{
  margin-bottom: 2em;
}

.double-screenshots{
  display: inline-block;
  border: 1px solid;
  margin: 0px auto;
  position: relative;
  width: auto;
  text-align: center;
}

.double-screenshots img{
  margin-top: 1em;
  margin-bottom: 1em;
  border:1px solid;
  display:inline-block;


}

.double-screenshots figcaption{
text-align: center;
font-size: 1em;
font-weight: bold;
margin-top:2%;
}

pre code{
  font-size: 2em;
}