
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      margin: 0;
      font-family: 'Playfair Display', serif;
      color: #011C26;
      position: absolute;
      width: 125%;
    }
    .first{
      background: url("../imgs/toronto.jpeg") no-repeat top center fixed;
    }

    .cover {
      background-attachment: cover;
    }


    .experience{
      background: url("../imgs/subway.jpg") repeat-x top center scroll;
       background-size: cover;
    }

    .contact{

      background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
       background-size: cover;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }
  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }
  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }
  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg")  repeat-x top center scroll;
     background-size: cover;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #011C26;
    position: absolute;
    width: 125%;
  }

  .first{
    background: url("../imgs/toronto.jpeg") repeat-x top center scroll;
    background-size: cover;
  }


  .experience{
    background: url("../imgs/subway.jpg") repeat-x top center scroll;
     background-size: cover;
  }

  .contact{

    background: url("../imgs/phone2.jpeg") repeat-x top center scroll;
     background-size: cover;
  }
}